.mainDiv {
  background-color: white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer {
  margin-top: 100px;
  margin-bottom: 100px;
  height: 428px;
  width: 597px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 2px 20px 2px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input{
    width: 390px;
    height: 51px;
    border-style: none;
    font-size: 20px;
    background-color: rgb(73, 68, 68);
    border-radius: 15px;
    border-width: 1px;
    border-color: rgb(166, 161, 161);
    padding: 20px 20px 20px 20px;
    border: none;
}
.submitButton{
    font-size: 14px;
    border-radius: 15px;
    height: 45px;
    width: 80px;
    padding: 20px 10px 20px 10px;
    background-color: rgba(7, 63, 154, 0.824);
    color: white;
    padding: 0px 12px;
}