.page {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
}

.navbar {
  height: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #1e1e2f;
  padding: 1rem 2rem;
}

.navList {
  list-style: none;
  display: flex;
  font-size: 20px;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navList li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navList li a:hover {
  color: #00d8ff;
}
.coverImageSection {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("/coverimage.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(1.2);
}

.coverImageSection::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* dark overlay */
  z-index: 1;
}

.coverText {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  z-index: 2;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 12px;
}
